/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
.text-center {
    text-align: center;
}
.banner {
    background-image: url('http://www.delitdimages.org/wp-content/uploads/2014/06/La-poule-soie-de-Chine.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 100px;
    position: relative;
    z-index: 0;
    h1 {
      padding: 180px;
    }
  }

// Your footer style
