<div class="banner text-center" style="background-image: url('http://www.delitdimages.org/wp-content/uploads/2014/06/La-poule-soie-de-Chine.jpg')">

  <div class="banner-shadow"></div>
  <div class="banner-content fade-and-slide">
    <h1>Salut ma poule </h1>
    <%= link_to "add a chicken", new_chicken_path %>
  </div>
</div>

<footer >
   <div class="col-sm-7 col-xs-12 footer-block">
        <h6>
          Suivez notre actualité sur les réseaux sociaux
          <ul class="list-inline social text-center inline-block" id="social-buttons-list">
            <li>
              <a href="https://www.facebook.com/pages/RMP/1422248518078090">
              <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/RMP">
              <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=mcNQEV6Tduo">
              <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="https://www.pinterest.com/RMP/">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/RMP?ref=badge">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </h6>
      </div>

</div>




</div></footer>

