



<div class="banner text-center" style="background-image: url('http://www.delitdimages.org/wp-content/uploads/2014/06/La-poule-soie-de-Chine.jpg')">
      <div class="banner-shadow"></div>
      <div class="banner-content fade-and-slide">
        <h1>Salut ma poule </h1>
        <%= link_to "add a chicken", new_chicken_path %>

      </div>
    </div>

