# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
<<<<<<< HEAD
  secret_key_base: 0afaf9c72d7fa7bfb4275e3bfbfce94df32c7d7e50d03e522c977474d5e08da5c424eff1fd3abbf59c169b8af7dcf3ceb05ad3e9959e3ff5dfd8ebd37c549fe2

test:
  secret_key_base: 6fcb22450e5eec8be8d62e32caeff565eccff8a3a03c4a10df99c2c3c71cd071639163b5a53b53eae5dfa904354340f393d8ad6f7b992ba31f48c2bae7e07d6a
=======
  secret_key_base: f4c4a344b41f9f87ed8fd8401cb13c24e95b8c50c174e00adb8dea3ffddbe872d4fadd75353a261fad77f176d8f4605d987cbe55a1c32fd2f7788d004fa179e8

test:
  secret_key_base: 1e440278ff0981df27c2d590e9869e38b87b437cc189b5e220b2b36d73a70229b340ed2ded4107c62eb352e12f0c10fbfc81dde269c52c33157ba71855dd8591
>>>>>>> 4b833789c41f8ea31a3da1173176e7dca1b82fa7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
