.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-bordered {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-large {
  width: 50px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

h1 {
    font-family: 'Lily Script One', cursive;
    font-size: 100px;
}

h2 {
    font-family: 'Lily Script One', cursive;
}

p {
    font-family: 'Lily Script One', cursive;
}

@import url(https://fonts.googleapis.com/css?family=Itim|Merienda|Lily+Script+One|Oleo+Script+Swash+Caps:700,400);

.block1 {
  background-color: #F7FAFA;
  margin: 5px;
  padding: 10px;
}

.mega-search-bar {
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  padding: 20px;
}

